---
- hosts: localhost
  remote_user: root
  tasks:
    - name: Change default shell to zsh
      become: true
      user:
        name: tom
        shell: /bin/zsh

    - name: Show hidden files
      osx_defaults:
        domain: com.apple.finder
        key: AppleShowAllFiles
        type: string
        value: YES
        state: present

    - name: Disable natural scrolling
      osx_defaults:
        key: com.apple.swipescrolldirection
        type: bool
        value: false
        state: present 

    - name: Install Python 2
      homebrew:
        name: python
        state: present

    - name: Install Python 3
      homebrew:
        name: python3
        state: present

    - name: Install Node.js and npm
      homebrew:
        name: node
        state: present

    - name: Install Ruby
      homebrew:
        name: ruby
        state: present

    - name: Install Bundler
      gem:
        name: bundler
        state: present

    - name: Install Jekyll
      gem:
        name: jekyll
        state: present

    - name: Install iTerm2
      homebrew_cask:
        name: iterm2
        state: present

    - name: Disable prompt when quitting iTerm2
      osx_defaults:
        domain: com.googlecode.iterm2
        key: PromptOnQuit
        type: bool
        value: false
        state: present

    - name: Install Google Chrome
      homebrew_cask:
        name: google-chrome
        state: present

    - name: Install Spotify
      homebrew_cask:
        name: spotify
        state: present

    - name: Install Sublime Text
      homebrew_cask:
        name: sublime-text
        state: present

    - name: Install f.lux
      homebrew_cask:
        name: flux
        state: present

    - name: Install VLC
      homebrew_cask:
        name: vlc
        state: present

    - name: Install Visual Studio Code
      homebrew_cask:
        name: visual-studio-code
        state: present

    - name: Install Disk Inventory X
      homebrew_cask:
        name: disk-inventory-x
        state: present

    - name: Install Keka
      homebrew_cask:
        name: keka
        state: present

    - name: Install KeepPassX
      homebrew_cask:
        name: keepassx
        state: present

# Uninstall

    - name: Install PyCharm Community
      homebrew_cask:
        name: pycharm-ce
        state: absent

    - name: Install XQuartz
      homebrew_cask:
        name: xquartz
        state: absent

    - name: Install Haskell Platform
      homebrew_cask:
        name: haskell-platform
        state: absent

    - name: Install Octave
      homebrew:
        name: octave
        state: absent