---
- hosts: localhost
  remote_user: root
  tasks:
    - name: Change default shell to zsh
      become: true
      user:
        name: tom
        shell: /bin/zsh

    - name: Install Node.js and npm
      homebrew:
        name: node
        state: present

    - name: Tap Caskroom Versions
      homebrew_tap:
        name: caskroom/versions
        state: present

    - name: Install iTerm2
      homebrew_cask:
        name: iterm2
        state: present

    - name: Install Google Chrome
      homebrew_cask:
        name: google-chrome
        state: present

    - name: Install Google Drive
      homebrew_cask:
        name: google-drive
        state: present

    - name: Install Spotify
      homebrew_cask:
        name: spotify
        state: present

    - name: Install Sublime Text
      homebrew_cask:
        name: sublime-text
        state: present

    - name: Install Sonos
      homebrew_cask:
        name: sonos
        state: present

    - name: Install f.lux
      homebrew_cask:
        name: flux
        state: present

    - name: Install VLC
      homebrew_cask:
        name: vlc
        state: present

    - name: Install PyCharm Community
      homebrew_cask:
        name: pycharm-ce
        state: present